/* VARIABLES */
@use "../variables" as *;

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background: $color-bg;
    color: $color-white;
}

/* reproductor-cabecera */
.reproductor-cabecera {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        width: 65%;
        height: 100%;
        background: $overlay-gradient;
        z-index: 2;
    }

    &__content {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding: 0 5% 30px 5%;
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        width: 100%;
    }

    &__poster {
        img {
            width: 375px;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
        }
    }

    &__description {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(6px);
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        h1 {
            width: 100%;
            font-size: 3rem;
            margin-bottom: 15px;
        }
    }

    &__details {
        width: 50%;

        h3 {
            margin-bottom: 10px;
        }

        p {
            line-height: 2;
            color: $color-gray;
        }
    }

    &__buttons {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        margin-top: auto;
    }
}

/* BOTONES */
.btn {
    max-height: 50px;
    padding: 12px 25px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;

    &--play {
        background: $color-white;
        color: $color-bg;

        &:hover {
            background: #e6e6e6;
            color: rgb(109, 109, 110);
        }
    }

    &--list {
        background: $color-button-gray;
        color: $color-white;

        &:hover {
            background: $color-button-gray-hover;
        }
    }
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .reproductor-cabecera {

        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
        }

        &__description {
            h1 {
                font-size: 2rem;
            }
        }

        &__poster {
            img {
                width: 170px;
            }
        }
    }
}