@use "../variables" as *;

@mixin card(
    $width: $card-standard-width,
    $height: $card-standard-height,
    $bg-url: $card-bg-placeholder){
        
        width: $width;
        height: $height;
        background-image: $bg-url;
    
}