*, *::after, *::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

body {
  background: #000;
  color: #fff;
}