@use "variables";
@use "base";

// Mixins
@use "mixins/mixin_card";

// Partials
@use "partials/header";
@use "partials/footer";
@use "partials/reproduccionDetalles";
@use "partials/reproduccionCabecera";
@use "partials/cabecera";