@use "variables";
@use "base";

// Partials
@use "partials/header";
@use "partials/footer";
@use "partials/reproduccionDetalles";
@use "partials/reproduccionCabecera";
@use "partials/cabecera";
@use "partials/player";
@use "partials/card";
