// Partials
// -----------------------------------------
// Cards general
$card-hover-scale: 1.25;
$card-transition: 0.3 all ease-in; 
$card-bg-standby: rgba(0, 0, 0, 0.25);
$card-bg-placeholder: url("");

// Cards normal
$card-standard-height: 50px;
$card-standard-width: 50px;

// Cards small
$card-small-height: 50px;
$card-small-width: 50px;

// Cards top
$card-top-height: 50px;
$card-top-width: 50px;

// Footer
$color-footer: #181818;

// Cabecera
$color-bg: #000;
$color-white: #fff;
$color-gray: #ddd;

$overlay-gradient: linear-gradient(to right,
        rgba(0, 0, 0, 0.95) 15%,
        rgba(0, 0, 0, 0.7) 50%,
        transparent 100%);


$color-button-gray: rgba(109, 109, 110, 0.7);
$color-button-gray-hover: rgba(109, 109, 110, 0.4);

$header-bg: #0b0b0b;
$primary-green: #00e054;
$text-color: #aaa;
$text-active: #fff;
$background-active: linear-gradient(to bottom,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.08) 40%,
        rgba(255, 255, 255, 0.12) 100%);