// Partials
// -----------------------------------------
// Cards general
$card-hover-scale: 1.25;
$card-transition: 0.3 all ease-in; 
$card-bg-standby: rgba(0, 0, 0, 0.25);
$card-bg-placeholder: url("");

// Cards normal
$card-standard-height: 50px;
$card-standard-width: 50px;

// Cards small
$card-small-height: 50px;
$card-small-width: 50px;

// Cards top
$card-top-height: 50px;
$card-top-width: 50px;

